<%= form_for [@feature, @fog_bugz_case] do |f| %>
  <% if @fog_bugz_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fog_bugz_case.errors.count, "error") %> prohibited this fog_bugz_case from being saved:</h2>

      <ul>
      <% @fog_bugz_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :case_id, autofocus:true %>
  <div class="actions">
    <%= f.submit 'Associate'%>
  </div>
<% end %>
