<center>

<h1><u>History of Fogbugz ID <%=@fog_bugz_case.case_id%>: <%=@fog_bugz_case.title%></u></h1>

<table class = 'background-color'>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Feature</th>
      <th>Estimated<br>Time<br>(hours)</th>
      <th>Current<br>Time<br>(hours)</th>
      <th>Resolved?</th>
      <th>Percentage</th>
    </tr>
  </thead>

  <tbody>
    <%=fb = @fog_bugz_case%>
      <tr>
        <td><%=fb.case_id%></td>
        <td><%=fb.title%></td>
        <td><%=fb.feature_id%></td>
        <td><%=fb.estimate%></td>
        <td><%=fb.current%></td>
        <td><%=fb.resolved ? 'yes' : 'no'%></td>
        <td><%=fb.percentage%>%</td>
      </tr>
  </tbody>
</table>

<br><br><br>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Hours Spent</th>
      <th>Date</th>
      <th>Note</th>
    </tr>
  </thead>

  <tbody>
    <% @big_time_entries.each do |big_time_entry| %>
      <tr>
        <td><%= big_time_entry.person %></td>
        <td><%= big_time_entry.hours %></td>
        <td><%= big_time_entry.date %></td>
        <td><%= big_time_entry.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</center>
