<h1><center><u>History of Fogbugz ID <%=@fog_bugz_case.case_id%>:<%@fog_bugz_case.title%></center></u></h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Feature</th>
      <th>Estimated Time (hours)</th>
      <th>Current Time (hours)</th>
      <th>Resolved?</th>
      <th>Percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%=fb = @fog_bugz_case%>
      <tr>
        <td><%=fb.case_id%></td>
        <td><%=fb.title%></td>
        <td><%=fb.feature_id%></td>
        <td><%=fb.estimated%></td>
        <td><%=fb.current%></td>
        <td><%=fb.resolved?%></td>
        <td><%='fb.current/fb.estimated'%></td>
      </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Hours Spent</th>
      <th>Date</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @big_time_entries.each do |big_time_entry| %>
      <tr>
        <td><%= big_time_entry.person %></td>
        <td><%= big_time_entry.hours %></td>
        <td><%= big_time_entry.WorkDate %></td>
        <td><%= big_time_entry.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
