<%= form_for(Feature.new) do |f| %>
  <% if Feature.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(Feature.new.errors.count, "error") %> prohibited this feature from being saved:</h2>

      <ul>
      <% Feature.new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, autofocus:true %>
  </div>
  <div class="actions">
    <%= f.submit "Add"%>
  </div>
<% end %>
