<!DOCTYPE html>
<html>
<head>
  <title>Feature Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = 'center'>
  <p><%= link_to("Home", root_path) unless current_page?(root_url) %> <span style='float:right'><%= link_to 'Recalculate All' %></span></p>

  <%= yield %>
</body>
</html>
